<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .bg{
            background: green;
            height: 100vh;
            width: 100vw;

        }
        .title{
            color:red;
            align-items: center;
            justify-content: center;
            position: relative;

        }
    </style>
</head>

<body>
    <div class="bg">
        <h1 class="title">
            "Welcome to CallBreak"

        </h1>
        <a href="{% url 'players' %}"> Play Game </a>
        
    </div>
</body>
</html>